<% include ../partials/header %>

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <!-- Flat button with ripple -->

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--2-offset-desktop">

                        <div class="vcl-container">
                            <div class="vcl-header" style="background-color:<%= form.colors.theme_color %>">
                                <span contenteditable="false" class="header-text" style="color:<%= form.colors.header_text_color %>"><%= form.header %></span>
                                <i class="material-icons" id="info">info</i>

                                <div class="vcl-w vcl-popover" for="info"  style="border-color:<%= form.colors.theme_color %>; color:<%= form.colors.popover_text_color %>; background-color:<%= form.colors.popover_bg_color %>">
                                    <p class="q1" contenteditable="false">
                                        <%= form.question1 %>
                                    </p>
                                    <p class="q2" contenteditable="false">
                                        <%= form.question2 %>
                                    </p>
                                    <p class="q3" contenteditable="false">
                                        <%= form.question3 %>
                                    </p>
                                    <p class="q4" contenteditable="false">
                                        <%= form.question4 %>
                                    </p>
                                </div>
                            </div>
                            <div class="vcl-body" style="border-color:<%= form.colors.theme_color %>">
                                this section will appear through API

                            </div>
                            <div class="vcl-attach" onclick="openAttachBox()" id="vcl-attach-div" style="border-color:<%= form.colors.theme_color %>;background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>">
                                <span class="attach-text" contenteditable="false"><%= form.attach %></span>
                                <i class="material-icons">attach_file</i>
                                <input type="file" name="resume" id="resume" accept=".doc,.docx,.pdf" hidden>
                            </div>
                            
                            <!-- <input class="other-job-input full-width" type="text" placeholder="Specify job" id="other-job-input" style="background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>"> -->
                            <div class="job-select" style="border-color:<%= form.colors.theme_color%>;background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>">
                                <div class="mdl-textfield mdl-js-textfield getmdl-select full-width">
                                    <input type="text" class="mdl-textfield__input" id="job" readonly>
                                    <input type="hidden" name="job" id="selected-job">
                                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                    <label for="job" class="mdl-textfield__label">Choose job</label>
                                    <ul for="job" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" id="job-ul">

                                        <% JSON.parse(form.jobs).forEach(function(job, index) { %>
                                            <li class="mdl-menu__item" data-val="<%= job %>"><%= job %></li>

                                        <% }) %>

                                        <li class="mdl-menu__item" data-val="0" id="other-job">Other</li>
                                    </ul>
                                </div>
                                    
                            </div>

                            <input class="other-job-input full-width" type="text" placeholder="Specify job" id="other-job-input" style="border-color:<%= form.colors.theme_color%>;background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>">

                            <div class="personal-info"  style="border-color:<%= form.colors.theme_color %>">
                                <input class="name full-width" type="text" placeholder="Your name" name="name" id="name" style=";background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>">
                                <input class="email full-width" type="email" placeholder="Your email" name="email" id="email"  style="border-top-color:<%= form.colors.theme_color %>;background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>">
                            </div>
                            <br>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored float-right"style="background-color:<%= form.colors.input_bg_color %>;color:<%= form.colors.input_text_color %>">
                                Submit
                            </button>
                            
                        </div>

                    </div>
                </div>

            </div>
        </main>
    </div>

    <script>
        var jobChanged = function (status) {
            var selectedJob = document.getElementById('selected-job');
            var el = document.getElementById('other-job-input');
            if (selectedJob.value == '0') {
                el.classList.add('show');
            }
            else {
                el.classList.remove('show')
            }
        }

        // document.getElementById('job-ul').addEventListener('click', jobChanged(this));
        document.getElementById('job-ul').onclick = jobChanged;
        
        var resumeInput = document.getElementById('resume');
        var attachText = document.querySelector('.attach-text');

        function openAttachBox() {
            resumeInput.click();
        }

        resumeInput.addEventListener('change', function(e) {
            var fileName = e.target.files[0].name;
            attachText.textContent = fileName;
        });
    </script>